.*
!.gitignore
target
*/.gitignore
*.iml
logs
data

*.iml
.idea
.DS_Store

assembly/target

core/cloudModule/target/
core/cloudMybatis/target/
core/cloudProtocol/target/
core/cloudRPC/target/
core/common/target/
core/httpclient/target/
core/scheduler/target/
eurekaServer/target/
gateway/core/target/
gateway/gateway-httpclient-support/target/
gateway/gateway-ujes-support/target/
gateway/springcloudgateway/target/


metadata/target/
publicService/application/target/
publicService/configuration/target/
publicService/jobhistory/target/
publicService/target/
publicService/udf/target/
publicService/variable/target/
publicService/workspace/target/
resourceManager/resourcemanagerclient/target/
resourceManager/resourcemanagercommon/target/
resourceManager/resourcemanagerserver/target/
storage/storage/target/

ujes/client/target/
ujes/definedEngines/hive/engine/target/
ujes/definedEngines/hive/enginemanager/target/
ujes/definedEngines/hive/entrance/target/
ujes/definedEngines/jdbc/entrance/target/
ujes/definedEngines/pipeline/engine/target/
ujes/definedEngines/pipeline/enginemanager/target/
ujes/definedEngines/pipeline/entrance/target/
ujes/definedEngines/python/engine/target/
ujes/definedEngines/python/enginemanager/target/
ujes/definedEngines/python/entrance/target/
ujes/definedEngines/spark/engine/target/
ujes/definedEngines/spark/enginemanager/target/
ujes/definedEngines/spark/entrance/target/
ujes/engine/target/
ujes/enginemanager/target/
ujes/entrance/target/


core/cloudModule/.cache-tests
core/cloudMybatis/.cache-tests
core/cloudProtocol/.cache-tests
core/cloudRPC/.cache-tests
core/common/.cache-tests
core/httpclient/.cache-tests
core/scheduler/.cache-tests
eurekaServer/.cache-tests
gateway/core/.cache-tests
gateway/gateway-httpclient-support/.cache-tests
gateway/gateway-ujes-support/.cache-tests
gateway/springcloudgateway/.cache-tests


metadata/.cache-tests
publicService/application/.cache-tests
publicService/configuration/.cache-tests
publicService/jobhistory/.cache-tests
publicService/.cache-tests
publicService/udf/.cache-tests
publicService/variable/.cache-tests
publicService/workspace/.cache-tests
resourceManager/resourcemanagerclient/.cache-tests
resourceManager/resourcemanagercommon/.cache-tests
resourceManager/resourcemanagerserver/.cache-tests
storage/storage/.cache-tests

ujes/client/.cache-tests
ujes/definedEngines/hive/engine/.cache-tests
ujes/definedEngines/hive/enginemanager/.cache-tests
ujes/definedEngines/hive/entrance/.cache-tests
ujes/definedEngines/jdbc/entrance/.cache-tests
ujes/definedEngines/pipeline/engine/.cache-tests
ujes/definedEngines/pipeline/enginemanager/.cache-tests
ujes/definedEngines/pipeline/entrance/.cache-tests
ujes/definedEngines/python/engine/.cache-tests
ujes/definedEngines/python/enginemanager/.cache-tests
ujes/definedEngines/python/entrance/.cache-tests
ujes/definedEngines/spark/engine/.cache-tests
ujes/definedEngines/spark/enginemanager/.cache-tests
ujes/definedEngines/spark/entrance/.cache-tests
ujes/engine/.cache-tests
ujes/enginemanager/.cache-tests
ujes/entrance/.cache-tests


core/cloudModule/.cache-main
core/cloudMybatis/.cache-main
core/cloudProtocol/.cache-main
core/cloudRPC/.cache-main
core/common/.cache-main
core/httpclient/.cache-main
core/scheduler/.cache-main
eurekaServer/.cache-main
gateway/core/.cache-main
gateway/gateway-httpclient-support/.cache-main
gateway/gateway-ujes-support/.cache-main
gateway/springcloudgateway/.cache-main


metadata/.cache-main
publicService/application/.cache-main
publicService/configuration/.cache-main
publicService/jobhistory/.cache-main
publicService/.cache-main
publicService/udf/.cache-main
publicService/variable/.cache-main
publicService/workspace/.cache-main
resourceManager/resourcemanagerclient/.cache-main
resourceManager/resourcemanagercommon/.cache-main
resourceManager/resourcemanagerserver/.cache-main
storage/storage/.cache-main

ujes/client/.cache-main
ujes/definedEngines/hive/engine/.cache-main
ujes/definedEngines/hive/enginemanager/.cache-main
ujes/definedEngines/hive/entrance/.cache-main
ujes/definedEngines/jdbc/entrance/.cache-main
ujes/definedEngines/pipeline/engine/.cache-main
ujes/definedEngines/pipeline/enginemanager/.cache-main
ujes/definedEngines/pipeline/entrance/.cache-main
ujes/definedEngines/python/engine/.cache-main
ujes/definedEngines/python/enginemanager/.cache-main
ujes/definedEngines/python/entrance/.cache-main
ujes/definedEngines/spark/engine/.cache-main
ujes/definedEngines/spark/enginemanager/.cache-main
ujes/definedEngines/spark/entrance/.cache-main
ujes/engine/.cache-main
ujes/enginemanager/.cache-main
ujes/entrance/.cache-main

